.container {
  position: relative;
  margin-top: 5vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 0; 
}

.h2Title {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--color-text);
  margin-left: 13%;
  margin-bottom: 1.5rem;
  text-align: left;
}

@media (max-width: 768px) {
  .h2Title {
    font-size: 2.5rem;
    text-align: center;
    margin-left: 0;
  }
}