.container {
  position: relative;
  margin-top: 2.5%;
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background); 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 0; 
}

.h2Title {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--color-text);
  text-align: center;
}

@media (max-width: 768px) {
  .h2Title {
    font-size: 2.5rem;
    text-align: center;
  }
}