*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-background: #fff8f4; 
  --color-text: #101010;
  --color-primary: #FF832A;

  /* Fuentes importadas escritas para ahorrar tiempo: 
  - 'Noto Serif Display'
  - 'Momo Trust Display'
  - 'Gloock' 
  */

  --font-heading: 'Momo Trust Display', sans-serif;
  --font-heading-cursive: 'Noto Serif Display', serif;
  --font-body: 'apple-system', sans-serif;
}

[data-theme="dark"] {
  --color-background: #101010; 
  --color-text: #fafafa;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}
