*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --color-background: #FAFAFA; 
  --color-text: #1A1A1A;
  --color-primary: #FF832A;

  --font-heading: 'DM Serif Display', serif;
  --font-body: 'apple-system', sans-serif;
}

[data-theme="dark"] {
  --color-background: #0A0A0A; 
  --color-text: #E5E5E5;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
}
