.controlsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin: 8vh 0 12vh;
  width: 100%;
}

.controlButton {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: none;
  background: var(--color-btn-secundary); 
  color: var(--color-text);
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.controlButton:hover {
  background: var(--color-btn-secundary-hover);
}

:global([data-theme='dark']) .controlButton {
  background: var(--color-btn-secundary);
}

:global([data-theme='dark']) .controlButton:hover {
  background: var(--color-btn-secundary-hover);
}

.disabled {
  opacity: 0.3; /* Lo dejamos visible pero tenue si está bloqueado */
  pointer-events: none;
}

.paginationPill {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 1.25rem 3rem;
  border-radius: 999px;
  background: var(--color-btn-secundary);
}

:global([data-theme='dark']) .paginationPill {
  background: var(--color-btn-secundary);
}

.dot {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background: var(--color-dot);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.dot.active {
  width: 3rem; 
  border-radius: 10px;
  background: var(--color-dot-hover);
}

:global([data-theme='dark']) .dot {
  background: var(--color-dot);
}
