.globalWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mainContent {
  width: 100%;
  padding-left: 13vw;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .mainContent {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}