.section {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.h2Title {
  font-family: var(--font-body);
  font-size: clamp(2.5rem, 10vw, 3rem);
  font-weight: 700;
  color: var(--color-text);
  max-width: 23ch;
  text-align: center;
}

.h2Cursive {
  font-family: var(--font-heading-cursive);
  font-size: clamp(2.5rem, 10vw, 3rem);
  font-style: italic;
  font-weight: 700;
  max-width: 13ch;
  color: var(--color-primary);
}

@media (max-width: 768px) {
  .h2Title {
    font-size: 2.2rem;
    text-align: center;
    margin: 0 1rem;
  }
}