.section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Vital para que el brillo no cree scrollbars */
}

/* Capa contenedora del fondo */
.backgroundLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%; /* Limitamos el efecto a la parte superior */
  z-index: 0;
  pointer-events: none;
}

/* --- CAPA 2: CONTENIDO (Texto y Botones) --- */
.contentLayer {
  position: relative;
  z-index: 10;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  margin-top: 4.5%;
  padding-left: 13%; 
  padding-right: 13%;
}

.title {
  font-family: var(--font-heading);
  font-size: 4.7rem; 
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.03em;
  max-width: 12ch;
  margin: 0;
  color: var(--color-text);
}

.title2 {
  font-family: var(--font-heading-cursive); 
  font-size: 5.5rem; /* Un poco más grande para destacar */
  font-weight: 400; 
  line-height: 1.2;
  margin: 0;
  color: var(--color-text);
  font-style: italic; 
}

.description {
  font-family: var(--font-body);
  font-size: 1.1rem;
  line-height: 1.6;
  margin-top: 0.5rem;
  max-width: 53ch; 
  color: var(--color-text);
}

.buttonContainer {
  display: flex;
  gap: 1rem; 
  align-items: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .75rem; 

  padding: .7rem 1.3rem;
  border-radius: .8rem; 
  
  font-family: var(--font-body);
  font-size: .880rem;
  font-weight: 550;
  text-decoration: none;
  
  border: 1px solid transparent; 
}

/* Botón 1: GitHub (Negro Solido) */
.button:first-child {
  background-color: var(--color-text); /* Negro en light mode */
  color: var(--color-background); /* Texto blanco */
}


/* Botón 2: LinkedIn (Gris Suave / Fantasma) */
.button:last-child {
  background-color: var(--color-primary); 
  color: var(--color-background); 
}

/* --- MANEJO DE ICONOS SVG --- */
.button svg {
  width: 20px;
  height: 20px;
  /* IMPORTANTE: Esto permite que 'currentColor' funcione si el SVG está limpio */
  fill: currentColor; 
}

/* --- RESPONSIVE DESIGN (Móvil) --- */
@media (max-width: 768px) {
  .contentLayer {
    align-items: flex-start; /* En móvil también se ve bien a la izquierda */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .title {
    font-size: 3rem;
  }
  
  .title2 {
    font-size: 3.5rem;
  }

  .description {
    font-size: 1rem;
    max-width: 100%;
  }

  .buttonContainer {
    flex-direction: column; /* Botones uno debajo del otro en pantallas muy chicas */
    align-items: stretch; /* Botones de ancho completo */
    width: 10rem;
  }

  .button {
    width: 10rem;
  }
}