.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 730px;     
  overflow-y: auto;        /* Permite que este div tenga su propio scrollbar */
  overscroll-behavior: contain;
  scrollbar-width: none; 
}

.scroll-stack-scroller::-webkit-scrollbar {
  display: none;
}

.scroll-stack-inner {
  /* Padding para que el mazo respire en la pantalla */
  padding: 15vh 0 40vh 0; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra todo el mazo horizontalmente */
}

.scroll-stack-card {
  position: relative;
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  width: 100%;
  display: flex;
  justify-content: center;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}

.card-base {
  border: none;
  border-radius: 3.5rem; 
  height: 27rem;         
  max-width: 50%;     
  
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.card-primary {
  background: var(--color-primary);
}

.card-dark {
  background: var(--color-text);
}

.card-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; /* Espacio entre el Título y el SVG */
  width: 100%;
}

.card-inner h2 {
  font-family: var(--font-heading);
  font-size: 3.5rem;
  margin: 0;
  text-align: center;
  color: var(--color-background); /* Crema */
}

/* Estilos para los SVGs */
.card-inner svg {
  width: 80px;
  height: 80px;
  fill: var(--color-background);
  transition: transform 0.3s ease;
}

/* Efecto Hover opcional */
.card-base:hover svg {
  transform: scale(1.1);
}

/* añadir la seccion de @media queries para pantallas pequeñas */

@media (max-width: 768px) {
  .card-inner h2 {
    font-size: 2.5rem;
  }

  .card-base {
    max-width: 80%;
    height: 18rem;
    padding: 1.5rem;
  }

  .card-inner svg {
    width: 60px;
    height: 60px;
  }
}