.button {
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 1000;

  background: var(--color-text);
  border: none;
  color: var(--color-background);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  
  font-family: var(--font-body);
  font-size: 0.9rem;
  font-weight: 600;
  
  display: flex;
  align-items: center;
  gap: .3rem;
}

.button:hover {
  background-color: var(--color-primary);
  color: var(--color-text);
}